<%- include('partials/header'); -%>
 <link rel="stylesheet" type="text/css" href="/stylesheets/aboutus.css">
<div class="container">
<div class="img-thumbnail">
				<img class="img-responsive" 
				src="https://blog.travelcarma.com/wp-content/uploads/2015/08/bus.jpg">
				<div class="caption-full">
					<h4>OrangeBus</h4>
					<p>Making the right travel arrangements is the genesis of any good holiday. Providing exceptional bus travel arrangements is the mantra that’s followed at orangeBus. India’s largest online bus ticketing platform has driven the country’s bus booking journey over the past 13 years through thousands of bus operators and routes. Striving to reach new heights when it comes to online bus booking in India, orangeBus has become the right tool to use to have a smooth bus ticket booking experience. Anybody can use the official website of orangeBus or the user-friendly app to book their bus tickets from anywhere in the country. From the comfort of your home or from or office or vehicle, people can make an online bus booking with ease. With these successful USPs, orangeBus has expanded internationally to countries like Singapore, Malaysia, Indonesia, Peru and Columbia.
                  </p>
					
			</div>
	</div>
</div>

<div class="D153_container">
	<div class="D153_headingContainer">
		<h2 class="D153_heading">ONLINE BUS TICKET BOOKING VS OFFLINE BUS TICKET BOOKING</h2>
	</div>
	<div class="D153_dataContainer">
		<div class="D153_online">
			<div class="D153_list">Hassle-free bus booking from anywhere &amp; anytime</div>
			<div class="D153_list">Wide choice of bus seats, bus types &amp; operators.</div>
			<div class="D153_list">Great offers and cashbacks on booking tickets</div>
			<div class="D153_list">Unique benefit for women seat selection</div>
			<div class="D153_list">24/7 Friendly Customer Care assistance</div>
		</div>
		<div class="D153_offline">
			<div class="D153_list">Hassle of reaching bus counter &amp; waiting in long queues</div>
			<div class="D153_list">Not much choice suiting your preference</div>
			<div class="D153_list">No discounts</div>
			<div class="D153_list">No unique benefit for women</div>
			<div class="D153_list">No Friendly assistance</div>
		</div>
	</div>
</div>
<article class="D103_main D103_container">
	<h2 class="D103_h2">FIND BUS TICKET WITH ORANGEBUS</h2>
	<div class="D103_p">
		<p>
			<span style="background-color: transparent;">Making the right travel arrangements is the genesis of any good holiday. Providing exceptional bus travel arrangements is the mantra that’s followed at orangeBus. India’s largest online bus ticketing platform has driven the country’s bus booking journey over the past 13 years through thousands of bus operators and routes. Striving to reach new heights when it comes to online bus booking in India, orangeBus has become the right tool to use to have a smooth bus ticket booking experience. Anybody can use the official website of orangeBus or the user-friendly app to book their bus tickets from anywhere in the country. From the comfort of your home or from or office or vehicle, people can make an online bus booking with ease. With these successful USPs, orangeBus has expanded internationally to countries like Singapore, Malaysia, Indonesia, Peru and Columbia.</span>
		</p>
		<p>
			<br>
		</p>
		<p>
			<strong style="background-color: transparent;">Why book bus tickets through orangeBus</strong>
		</p>
		<p>
			<span style="background-color: transparent;">The online bus booking services of orangeBus offers a plethora of advantages than it’s offline prehistoric booking modes. Firstly, booking a bus ticket through a travel agent or at a counter is in the past. People have begun to recognize the advantages of making an online bus booking. At a counter, people would have to first stand in a queue in front of a particular bus operator. Once they reach the counter, they would have to book a seat among the seats that are available. If a seat isn’t available on the bus of their choice, the dejected customer would then have to stand in another queue in front of another bus operator. Online bus ticket booking with orangeBus has eliminated these problems that people used to face.</span>
		</p>
		<p>
			<br>
		</p>
		<p>
			<span style="background-color: transparent;">With orangeBus, customers can view every bus that’s available on any given route in India. They do not have to stand in a queue and accept the price and seat that’s given to them by the travel agent or the ticket clerk behind the counter. Customers can view every detail of the bus including updated pictures of the bus, the type of bus, amenities offered, and much more on the orangeBus website and app. Customers can even avail exclusive discounts which are offered by orangeBus that cannot be matched by any discount offered by a travel agent or a counter.</span>
		</p>
		<p>
			<br>
		</p>
		<p>
			<strong style="background-color: transparent;">M-ticket and its advantages</strong>
		</p>
		<p>
			<span style="background-color: transparent;">Have you ever gone to your boarding point and realized that you did not carry your ticket? That feeling can be terrible especially if it’s for a holiday that you’ve taken leaves or made special arrangements for. The M-ticket initiative by orangeBus was a game-changer in countless ways. Not only did it put an end to the physical form of a ticket or a printout of a bus ticket but it also ensured that passengers didn’t have to rush back home in case they didn’t have their ticket.&nbsp;</span>
		</p>
		<p>
			<br>
		</p>
		<p>
			<span style="background-color: transparent;">Once a passenger completes their bus ticket booking procedure, orangeBus will confirm that the booking has been made. The bus ticket is then sent to the customer’s registered mobile number in the form of an M-ticket and it’s also sent to the registered email ID of the customer. With orangeBus’ advanced interface, this process takes a few milliseconds to complete.</span>
		</p>
		<p>
			<br>
		</p>
		<p>
			<span style="background-color: transparent;">Customers are advised to carry a government-approved identity card that can be used to prove their identity when they have to board their bus.&nbsp;</span>
		</p>
		<p>
			<br>
		</p>
	</div>
</article>

<%- include('partials/footer'); -%>
