<%- include('partials/header'); -%>
 <div class="container" style="margin-top: 80px;">
 	<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card text-center" style="margin:20px">
        <a href="/bookticket">
           <img width='150' height='150' class="img-responsive" src="images/ticket2.jpg">
           <p>BOOK TICKET</p>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
     <div class="card text-center" style="margin:20px">
      <a href="/printticket">
        <img width='150' height='150' class="img-responsive" src="images/mybookings.jpg">
        <p>MY BOOKINGS</p>
      </a>
     </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card text-center" style="margin:20px">
      <a href="/profile">
        <img width='150' height='150' class="img-responsive" src="images/myaccount.jpg">
        <p>MY ACCOUNT</p>
      </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
     <div class="card text-center" style="margin:20px">
      <a href="/changepassword">
        <img width='150' height='150' class="img-responsive" src="images/password.jpg">
        <p>CHANGE PASSWORD</p>
      </a>
     </div>
    </div>
    <div class="col-lg-3 col-md-0 col-sm-0">

    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card text-center" style="margin:20px">
       <a href="/buses">
        <img width='150' height='150' class="img-responsive" src="images/allbuses.jpg">
        <p>ALL BUSES</p>
       </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card text-center" style="margin:20px">
       <a href="/aboutus">
        <img width='150' height='150' class="img-responsive" src="images/aboutus.jpg">
        <p>ABOUT US</p>
       </a>
      </div>
    </div>

 	</div>
 </div>




 <%- include('partials/footer'); -%>
